<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343992953541-naup3vb61nbup8sp2097jr853glb4a0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343992953541-naup3vb61nbup8sp2097jr853glb4a0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343992953541-tn2ep36t9actfgcucutudupt4s62qj0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApXkeZ7BDVBqyNXi6oR-ya1JAD6zLEOro</string>
	<key>GCM_SENDER_ID</key>
	<string>343992953541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thecoldBox</string>
	<key>PROJECT_ID</key>
	<string>the-cold-box</string>
	<key>STORAGE_BUCKET</key>
	<string>the-cold-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343992953541:ios:2ab8e991b7aea51caf9eac</string>
</dict>
</plist>